<div class="article-page">
    <div class="banner">
        <div class="container">
        <h1><%= @article.title.html_safe %></h1>
        </div>
    </div>
    <div class="container page">
        <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
            <form class="card comment-form">
            <div class="card-block">
                <textarea class="form-control" placeholder="Write a comment..." rows="3"><%= @article.content.html_safe %></textarea>
            </div>
            <div class="card-footer">
                <img src="http://i.imgur.com/Qr71crq.jpg" class="comment-author-img" />
                <button class="btn btn-sm btn-primary">Post Comment</button>
            </div>
            </form>
        </div>
        </div>
    </div>
</div>