<footer>
    <div class="container">
        <%= link_to 'conduit', root_path, class: 'logo-font' %>
        <span class="attribution">
        An interactive learning project from <%= link_to 'Thinkster', 'https://thinkster.io' %>. Code & design licensed under MIT.
        </span>
    </div>
</footer>